main{
    display: flex;
    flex-direction: column;
    background-color: blue;
    width: 500px;
    height: 30vh;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
div{
    display: flex;
    margin-top: 5%;
}
#input-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 15%;
    margin-top: 5%;
}
#number-of-games{
    width: 70%;
    height: 15%;
    margin-right: 1%;
}
#play-button{
    width: 100px;
    height: 50px;
}
.player-choice{
    width: 150px;
    height: 75px;
    margin: 2%;
}
.matchup{
    width: 113px; 
    text-align:center;
}
.button-click{
    animation-name: click;
    animation-duration: 0.5s;
    box-sizing: border-box;
}
@keyframes click{
    0%{background-color: gray;}
    100%{background-color: gray; border: solid 1px black;}
}